.accordion-item .accordion-button {
    background-color: black; 
    color: white; 
  }
  
  .accordion-item .accordion-collapse {
    background-color: black;
    color: white; 
  }
  
  .clear {
    background-color: black;
    color: white; 
  }