.logo {
  width: 200px;
  height: auto;
  margin-left: 80px;
  margin-bottom: 10px;
}

.background {
  background-image: url('./images/background.png');
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  background-attachment: fixed;
  color: #ffffff; 
  font-family: Roboto, sans-serif;
}